*.class
*.log
*.jar
*.war
*.ear

/bin/
/build/
/out/
/target/

.idea/
*.iml
*.iws
*.ipr

.vscode/

.project
.classpath
.settings/
.gradle/

.DS_Store
Thumbs.db

.env
*.local

/resourceHashesCache

# === Logs ===
logs/
*.log
*.tmp